<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  For more information on this website, please contact Graham Mackie (<a href="mailto:mackieg@umich.edu"> mackieg@umich.edu</a>). Or call Heyer's bitch ass.
</p>
