<% provide(:title, @user.name) %>
    <section>
      <b>Pledge Class:</b>
      <%= @user.pledge_semester +  " " + @user.pledge_year.to_s %>
    </section>
    <section>
      <%= "Graduation Year: " + @user.grad_year.to_s %>
    </section>
    <section>
      <%= "Major: " + @user.major %>
    </section>
      <% if @user.admin? %>
        <section>
          <%= "Administrator" %>
        </section>
      <% end %>
