<% provide(:title, @user.name) %>
    <section>
      <b>Pledge Class:</b>
      <% if not (@user.pledge_semester.nil? or @user.pledge_year.nil?) %>
        <%= @user.pledge_semester +  " " + @user.pledge_year.to_s %>
      <% end %>
    </section>
    <section>
      <b>Graduation Year:</b>
      <% if not @user.grad_year.nil? %>
        <%= @user.grad_year.to_s %>
      <% end %>
    </section>
    <section>
      <b>Major:</b>
      <% if not @user.major.nil? %>
        <%= @user.major %>
      <% end %>
    </section>
      <% if @user.admin? %>
        <section>
          <%= "Administrator" %>
        </section>
      <% end %>
